@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="img/logo.jpg" alt="logo">
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul>
    @foreach (var nome in (List<string>)ViewData["nomes"]!)
        {
            <li>@nome</li>
        }
</ul>

<ul>
    @foreach (var email in (List<string>)ViewData["emails"]!)
    {
        <li>@email</li>
    }
</ul>

<p>Total de usuários: @ViewData["cont"]</p>